# .gitignore
__pycache__/
*.pyc
*.pkl
*.npy
*.npz
*.log
.DS_Store
.env
venv/
.ipynb_checkpoints/
capture_data/
data/*
capture_data/*
saved_models/*
*.txt
plots/*
capture_data_test/*
capture_data_train/*
capture_data_many_apps/*
thesis_figures*
backup*
hyperparam_results*
evaluation_results/*
evaluation_results_conf2/*